h1{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
 }

h3 {
    font-weight: 400;
}
p {
    /* font-size: large; */
    font-size: 1em;
    padding-top: 1rem;
}

h3 {
    /* font-size: 1.5rem; */
    font-size: calc(0.5em + 1vw);
}


.banner{
    height:10rem;
    width: 100%;
}

.index-intro{
    width:100%;
    background-color: #f3f3f3;
}

.index-intro .jumbotron {
    padding: 0px;
}

.banner-image {
    position: relative;
    width: 100%; /* for IE 6 */
 }

 .banner-title{
     color: white;
     position: absolute;
     top: 40%;
     left: 0;
     width: 100%;
 }

.header {
    text-align: center;
}

.studio-section{
    padding-bottom: 5%;
 }

.studio-description {
    padding: 3% 5%;

}

@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.card {
    width:100%;
}

.card-deck {
    padding-top: 3rem;
}

.col-lg-4.col-12 {
    padding-bottom: 5%;
}

/* ****About Section**** */

.about-mia {
    padding-bottom: 10%;
}

#testimonials {
    text-align: center;
}

#testimonials .w-100 {
    height: 15rem;
}

.carousel {
    border:0px !important;
}
.carousel-caption {
    color: #c7b975;
}

#testimonials h3 {
    font-size: 1em;
}

/* Used to change the color of the indicators by changing the bootstrap icon */
#testimonials .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dd9866' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

#testimonials .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dd9866' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  /* color:#dd9866; */
}

/* change colors of the non active slides */
#testimonials .carousel-indicators li{
    background-color: #e4b18d;
}

/* change colors of the active slides */

#testimonials .carousel-indicators .active{
    background-color: #dd9866;
}


